@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.form {
    margin: 8em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.2em;
}

.select, .bill-amount {
    margin: auto;
    width: 50%;
}


.select {
    border: 1px solid #d2d2d2;
}
    .select:hover {
        border: 1px solid #d2d2d2;   
    }

.calculate-btn {
    border: 1px solid #d2d2d2;
    width: 25%;
    transform: translateX(32.1em);
    border-radius: 0.2rem;
    padding: 0.4em 0;
    border: #16161d solid 1px;
    background-color: #16161d;
    color: #f2f2f2;
    transition: all 0.2s ease;
    margin-top: 1em;
}
    .calculate-btn:hover {
        border: 1px solid #d2d2d2;
        background-color: #16161dd9;
        border: #16161dd9 solid 1px;
    }


.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results p {
    font-size: 1.2em;
}

.bold-text {
    font-weight: 600;
    text-decoration: underline;
}